{{ partial "head.html" . }}

<div class="content container">
	<div class="post">
		<h1 class="post-title">{{ .Title }}</h1>
		<span class="post-date">
			{{ .Date.Format "Jan 2, 2006" }}
			&middot; {{ .ReadingTime }} minute read
			{{ if and (.Site.Params.disqusShortname) (ne .Params.comments false) }}
				&middot; <a href="{{ .Permalink }}#disqus_thread" title="Comments on '{{ .Title }}'">Comments</a>
			{{ end }}
		</span>
		{{ .Content }}
		{{ partial "taxonomy.html" . }}
	</div>

	{{ if and (.Site.Params.disqusShortname) (ne .Params.comments false) }}
		{{ partial "disqus.html" . }}
	{{ end }}
</div>

{{ partial "foot.html" . }}
