<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {{ if isset .Site.Author "gravatar" }}
        <img src="https://www.gravatar.com/avatar/{{ .Site.Author.gravatar }}?s=200" alt="gravatar" title="{{ .Site.Author.name }}">
      {{ end }}
      <h1>{{ .Site.Author.name }}</h1>
      <p class="sidebar-lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}An elegant open source and mobile first theme.{{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/" title="{{ .Site.Title }}">Home</a> </li>
      <li><a href="/posts" title="All posts">All posts</a></li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
      {{ if isset .Site.Author "github" }}<a href="https://github.com/{{ .Site.Author.github }}" title="{{ .Site.Author.name }} on GitHub"><i class="fa fa-github-square fa-2x"></i></a>{{ end }}
      {{ if isset .Site.Author "linkedin" }}<a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}" title="{{ .Site.Author.name }} on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>{{ end }}
      {{ if isset .Site.Author "twitter" }}<a href="https://twitter.com/{{ .Site.Author.twitter }}" title="{{ .Site.Author.name }} on Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>{{ end }}
      {{ if .Site.Params.rss }}<a href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="Subscribe to all {{ .Site.Title }} content"><i class="fa fa-rss-square fa-2x"></i></a>{{ end }}
      </li>
    </ul>

    {{ partial "copyright.html" . }}
  </div>
</div>
