<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {{ if isset .Site.Params "gravatarHash" }}
        <img src="https://www.gravatar.com/avatar/{{ .Site.Params.gravatarHash }}?s=200" alt="gravatar" title="{{ .Site.Author.name }}">
      {{ end }}
      <h1>{{ .Site.Author.name }}</h1>
      <p class="sidebar-lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}An elegant open source and mobile first theme.{{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/" title="{{ .Site.Title }}">Home</a> </li>
      <li><a href="/posts" title="All posts">All posts</a></li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    {{ partial "copyright.html" . }}
  </div>
</div>
