{{ partial "head.html" . }}

<div class="content container">
  <div class="posts">
    {{ range where .Paginator.Pages "Type" "posts" }}
    <div class="post">
      <h1 class="post-title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
      <span class="post-date">
        {{ .Date.Format "Jan 2, 2006" }}
        &middot; {{ .ReadingTime }} minute read
        {{ if and (.Site.Params.disqusShortname) (ne .Params.comments false) }}
          &middot; <a href="{{ .Permalink }}#disqus_thread" title="Comments on '{{ .Title }}'">Comments</a>
        {{ end }}
      </span>
      {{ .Content }}
      {{ partial "taxonomy.html" . }}
    </div>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </div>
</div>

{{ partial "foot.html" . }}
